## target
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y

## optimization
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a72 -march=armv8-a -mtune=cortex-a72 -mfloat-abi=hard -mfpu=neon-fp-armv8 -mneon-for-64bits"
CONFIG_TARGET_OPTIONS=y
CONFIG_CPU_TYPE="cortex-a72"
